.about-me-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: 30px;
  background-color: color(primaryDark);
  border-radius: $borderRadius;
  position: relative;
  z-index: 0;
  box-shadow: 0 8px 6px -6px black;

  @include desktop {
    justify-content: center;
  }

  .my-image {
    flex-basis: 30%;

    img {
      border-radius: 35px;

      @include desktop {
        border-radius: 100px;
      }
    }

    @include desktop {
      margin-bottom: 2rem;
    }
  }

  .about-me {
    flex-basis: 70%;
    padding-left: 27px;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 12px;
      color: #f7f7f7;
    }

    .about-sub-section {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 27px;

      @include mobile {
        margin-top: 25px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
      }

      .experience-main {
        text-align: left;

        h6 {
          margin-bottom: 2px;

          @include mobile {
            margin-right: 10px;
          }
        }

        div {
          display: flex;
          align-items: flex-end;

          h1 {
            margin-bottom: 0;
            font-size: 67px;
            line-height: 57px;
            background-clip: text;
            background-image: url(../images/manifesto-background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 19%;
            color: transparent;
          }

          span {
            font-size: 12px;
            font-weight: 400;
            margin-left: 7px;
          }
        }

        @include mobile {
          margin-bottom: 15px;
          display: flex;
          align-items: center;
        }
      }
    }

    @include desktop {
      flex-basis: 100%;
      padding-left: 0;
    }
  }
}

.about-me-bg {
  height: 500px;
  z-index: 0;
  position: absolute;
  left: 7%;
  transform: scale(1.1);
}

.my-info {
  display: flex;
  margin-bottom: 2rem;

  div:first-child {
    margin-right: 5rem;

    @include mobile {
      margin-right: 0;
    }
  }

  div > div {
    margin-bottom: 10px;

    span {
      color: #34d399;
    }
  }

  @include mobile {
    display: block;
  }
}

.read-more-btn {
  padding: 15px 65px;
  font-size: 14px;
  background-color: color(secondaryColor);
  background: linear-gradient(
    52deg,
    rgba(59, 95, 245, 1) 0%,
    rgba(138, 81, 175, 1) 100%,
    rgba(159, 77, 157, 1) 100%,
    rgba(166, 76, 150, 1) 100%,
    rgba(214, 68, 108, 1) 100%,
    rgba(255, 61, 71, 1) 100%
  );
  color: #fff;
  border-radius: 30px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  .cv-download-icon {
    vertical-align: sub;
  }
}

.read-more-btn:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-color: #212121;
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.read-more-btn:focus {
  color: #c5c5c5;
  outline: 0;
  background-color: #002bdf;
}

.about-me-section {
  position: relative;
}

.about-me-bg-two {
  height: 500px;
  z-index: 0;
  position: absolute;
  left: 57%;
  transform: rotateZ(5deg);
}
