.main-page {
  background-color: color(primaryColor);
  min-height: 100vh;
  color: white;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;

  @include tabLandscape {
    flex-direction: column-reverse;
  }
}

.main-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: color(secondaryColor);
  z-index: 1;
}

// .main-page::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 60%;
//   height: 90%;
//   border-radius: 0 0 0 70px;
//   background-color: #0f1223;
//   z-index: 1;

//   @include tabLandscape {
//     top: 20%;
//     width: 73%;
//     border-radius: 70px 0 0 70px;
//   }

//   @include tab {
//     height: 78%;
//   }
// }

.main-image-main {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 90%;
  border-radius: 0 0 0 70px;
  background-color: #0f1223;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include tabLandscape {
    width: 93%;
    height: auto;
    position: unset;
    padding-top: 16px;
  }

  img {
    width: auto;
    height: 90%;
    margin-bottom: -20px;

    @include tabLandscape {
      margin-bottom: -36px;
    }

    @include mobile {
      width: inherit;
      height: auto;
      margin-bottom: unset;
    }
  }
}

.main-text {
  z-index: 2;
  position: relative;
  left: 5%;
  display: inline-block;
  max-width: calc(100% - 6%);

  h1 {
    font-size: calc(10px + 10vmin);
    margin-bottom: 22px;
    line-height: normal;

    span {
      color: color(secondaryColor);
    }

    @include desktopLarge {
      font-size: calc(10px + 8vmin);
    }

    @include desktop {
      font-size: calc(10px + 7vmin);
    }
  }

  h4 {
    font-weight: 400;
    color: color(tertiaryColor);
    font-size: 16px;
    text-transform: uppercase;
  }

  h5 {
    font-weight: 400;
    width: 50%;
    line-height: 2;
    color: #989898;
    font-size: 18px;

    @include desktopLarge {
      font-size: 17px;
    }

    @include desktop {
      width: 51%;
    }

    @include tabLandscape {
      width: 96%;
    }
  }

  @include tabLandscape {
    max-width: unset;
    left: unset;
    margin-top: 48px;
    padding: 0 24px;
  }
}

.social-profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -16px;

  div {
    background-color: aliceblue;
    border-radius: 50%;
    width: 38px;
    height: 37px;
    margin: auto 10px;
    border: 3px solid aliceblue;
    transition: 0.3s;

    a {
      display: block;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    @include tabLandscape {
      margin: 15px 0;
    }
  }

  div:hover {
    border: 3px solid #cee9ff;
    background-color: #cee9ff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  @include tabLandscape {
    gap: 12px;
    margin-bottom: -30px;
  }

  @include mobile {
    margin-bottom: -32px;
  }
}

@media (max-height: 450px) and (max-width: 750px) {
  .social-profiles {
    bottom: 11%;
  }

  .main-page::after {
    top: 15%;
  }

  .main-image-main img {
    display: none;
  }

  .main-text {
    margin-top: 28vh;
  }
}
