.what-i-do-section {
  background: linear-gradient(
    90deg,
    rgba(18, 21, 40, 1) 0%,
    rgba(19, 23, 48, 1) 100%
  );
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: $borderRadius;
  position: relative;
  z-index: -1;
  overflow: hidden;

  h1 {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.1;
  }
}

.what-i-do-section::before {
  content: "><";
  position: absolute;
  top: 20%;
  left: -56px;
  font-size: 30vw;
  display: block;
  color: rgb(26 29 49 / 55%);
  font-weight: 900;
  z-index: -1;
}

.what-i-do-section::after {
  content: "<techs>";
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 10vw;
  display: block;
  color: #1a1d31;
  font-weight: 900;
  z-index: -1;
}

.what-i-do-main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  gap: 40px;

  div {
    flex-grow: 1;
    flex-basis: 0;

    @include mobile {
      flex-basis: 100%;
      padding-right: 0;
      margin: 10px 0;
    }

    h4 {
      font-weight: 500;
      font-size: 1.3rem;
    }

    img {
      height: 80px;
      margin-bottom: 1.2rem;
    }

    h6 {
      font-weight: 400;
      font-size: 14px;
      color: gray;
    }
  }

  div:last-child {
    padding-right: 0px;
  }
}

.techs-using {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin-bottom: 4rem;

  .techs {
    text-align: center;

    @include mobile {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    div {
      img {
        height: 32px;
      }

      img:hover {
        -webkit-filter: drop-shadow(0px 0px 10px #394499);
        filter: drop-shadow(0px 0px 10px #394499);
        transition: 0.4s;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
}


@media screen and (max-width: 768px) {
  .what-i-do-section {
    padding: 24px;
  }
}